{% if post.resolvedAt %}
    <div
            class="post {% if user.role != 'member' or user.id == post.userId %}postResolvedTouch{% else %}postResolved{% endif %}"
            data-post-id="{{ post.id }}"
            data-post-user-id="{{ post.userId }}"
            data-post-resolved-at="{{ post.resolvedAt }}"
            {% if theme == 'cork' %}style="transform: rotate({{ random(-120, 120) / 100 }}deg)"{% endif %}
    >
        <div class="pin">
            <svg class="pin-{{ post.pinColor }}"></svg>
        </div>

        <div class="text">{{ post.description }}</div>

        {% if user.id == post.userId or user.role != "member" %}
            <div class="flipContent">
                <button class="delete" data-post-id="{{ post.id }}">✗</button>
            </div>
        {% endif %}
    </div>
{% else %}
    <div
            class="post"
            data-post-id="{{ post.id }}"
            data-post-user-id="{{ post.userId }}"
            data-post-resolved-at="{{ post.resolvedAt }}"
            {% if theme == 'cork' %}style="transform: rotate({{ random(-120, 120) / 100 }}deg)"{% endif %}
    >
        <div class="pin">
            <svg class="pin-{{ post.pinColor }}"></svg>
        </div>

        <div class="text">{{ post.description }}</div>

        <div class="flipContent">
            <div class="postMeta">
                <a href="tel:{{ post.phoneNumber }}">{{ post.phoneNumber }} ({{ post.userName }})</a>
                {% if post.link %}
                    <a href="{{ post.link }}" target="_blank"
                       rel="noopener noreferrer nofollow">{% trans "See link" %}</a>
                {% endif %}
            </div>

            {% if user.id == post.userId or user.role != "member" %}
                <div class="postButtons">
                    {% if user.id == post.userId %}
                        <button class="resolve" data-post-id="{{ post.id }}">✓</button>
                    {% endif %}
                    <button class="delete" data-post-id="{{ post.id }}">✗</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
